# Python caches & bytecode
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env/
.venv/
.conda/

# Jupyter checkpoints
.ipynb_checkpoints/

# Database / SQL temp files
*.db
*.sqlite3
*.sql~
*.bak

# Logs & temporary files
*.log
*~ 
*.tmp

# Editors & IDEs
*.vscode/
.settings/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
